html{
  scroll-behavior: smooth;
}


*{
margin: 0; padding: 0; box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

li{
  list-style: none;
}
p{
  font-size: 0.9rem;
  line-height: 1.6;
  font-weight: 400;
  color: #606060;
}

.extra-div h2,.servicediv h2{
  font-size: 0.9rem;
  margin: 20px 0 15px 0;
  font-weight: bold;
  line-height: 1.1;
  word-spacing: 4px;
}

i{

  color: #2fccd0;
}

 /******************* actual css class start ***************/
 .bgimage{
background-image: url('hero-bg.jpg');
background-size: 100% 110%;
width: 100%;
height: 100vh;
}
.menu{
width: 100%;
height: 100px;
background-color: rgba(0,0,0,0.5);
}
.leftmenu{
width: 22%;
line-height: 100px;
float:left;
}
.leftmenu h4{
padding-left: 35px;
font-weight: bold;
color:white;
font-size: 30px;
margin-top: 35px; 
font-family: 'Montserrat', sans-serif;*/
}
.rightmenu{
width: 69%;
height: 100px;
float: right;
/*margin-top: : 100px;*/
}
.rightmenu ul{
margin-left: 150px;

}
.rightmenu ul li{
/*font-family: 'Montserrat', sans-serif;*/
display: inline-block;
list-style: none;
font-size: 15px;
color: white;
font-weight: bold;
line-height: 100px;
margin-left: 16px;
text-transform: uppercase;
margin: 20px; 
margin-top: 1px; 

}

.home{
      background-color: transparent;
      text-decoration: none;
      color: white;
}
.home:hover{
  color: orange!important;
  text-decoration: underline;   

}

.Services{
      background-color: transparent;
      text-decoration: none;
      color: white;
}
.Services:hover{
  color: orange;

}


.SOURCECODE{
      background-color: transparent;
      text-decoration: none;
      color: white;
}
.SOURCECODE:hover{
  color: orange;

}

.TECHARTICLE{
      background-color: transparent;
      text-decoration: none;
      color: white;
}
.TECHARTICLE:hover{
  color: orange;

}


.Aboutus{
      background-color: transparent;
      text-decoration: none;
      color: white;
}
.Aboutus:hover{
  color: orange;

}


.Contactus{
      background-color: transparent;
      text-decoration: none;
      color: white;
}
.Contactus:hover{
  color: orange;

}


.rightmenu ul li:hover{
color: orange;

}
.text{
width: 100%;
margin-top:120px;
text-transform: uppercase;
text-align: center;
color: white;
}
.text h4{
font-size: 14px;
}
.text h1{
font-size: 62px;
font-weight: 700px;
margin: 14px;
}
.text h3{
font-size:# 12px;
}


.text a{
  text-decoration: none;
  background-color: transparent;
border:none;
text-transform: uppercase;
font-weight: bold;
line-height: 40px;
/*border: 3px solid white;*/
width: 150px;
color: black;


}
#buttonone{
border-color: white;
border: none;
font-size: 12px;
font-weight: bold;
text-transform: uppercase;
line-height: 40px;
width: 150px;
margin-top: 25px;
border: 3px solid white;
margin: 10px;
}


#buttontwo {
background-color: transparent;
border:none;
text-transform: uppercase;
font-weight: bold;
line-height: 40px;
border: 3px solid white;
width: 150px;
}
 #buttontwo:hover {
  background: #2dc997;
  border: 2px solid #2dc997;
}



.centerdiv{       
display: flex;
justify-content: center;
align-items: center;
margin-top: 12px;
}

.centerdiv a{
height: 57px;
width: 57px;
background-color: #f5f6fa;
border-radius: 40px;
text-align: center;
margin: 10px;
line-height: 70px;
 
}
a i{
transition: all 0.3s linear;
}

a:hover i{
transform: scale(1.4);
}
/*.fa-facebook{*/
  /*color: #e84393;*/
/*}*/
.fa-instagram{
      display: inline-block;
    float: none;
    padding: 0;
    margin-right: 5px;
color: #e84393;
}

.fa-twitter{
        display: inline-block;
    float: none;
    padding: 0;
    margin-right: 5px;
color: #0097e6;
}

.fa-youtube{      display: inline-block;
    float: none;
    padding: 0;
    margin-right: 5px;
color: #e84118;
}
.fa-linkedin{     display: inline-block;
    float: none;
    padding: 0;
    margin-right: 5px;
color: #0097e6;
}

.Started{  text-decoration: none;
  background-color: transparent;
border:none;
text-transform: uppercase;
font-weight: bold;
line-height: 40px;
/*border: 3px solid white;*/
width: 150px;
color: white;
margin: 1px;

}


.btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff!important;

  position: absolute;
  /*bottom: 0;*/
  /*top: 500;*/
  /*left: 595px;*/
  /*right: 0;*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-left: 585px!important;

}

.btn-get-started:hover {
  background: #2dc997;
  border: 2px solid #2dc997;
}


/*home end*/


.MServices{
  text-align: center;
  text-transform: capitalize;
  padding-top: 20px;
  font-weight: bold;


}

.horizontal{
  width: 25px;
  margin:auto auto;
  padding-bottom: 10px;
}




/*********************** extra header div css start *********************/

.header-extradiv{ 
  width: 100;
  height: auto;
  margin: 100px 0;
  text-align: center;
  
}

.extra-div{
  background:#fff;
  border: medium none;
  padding: 50px!important;
  border-radius: 3px;
  transition: 0.3s; 
}

.extra-div:hover{
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
  transform: translateY(-20px);

}

/*********************** extra header div css end *********************/



/*********************** srvisec offers css start *********************/

.serviceoffers{
  background:#f7f7f9;
  padding: 50px 0;
  margin-bottom: 50px;
}
.headings{
  margin-bottom: 50px;

}

.headings h1{
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.names h1{
  color: #2e2e2e;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
}

.service-icons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress{
  height: 0.6rem!important;
  margin-bottom: 25px!important;
  background:#606060;
  
}

/*********************** srvisec offers css end *********************/

/*********************** about start *********************/

  .carousel-inner img {
    width: 100%;
    background-color: black;
    background-image: linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3)),


    /*height: 50%;*/
    /*position: relative;*/
  }


/* Contact Section
--------------------------------*/
#contact {
  background: #f7f7f7;
  padding: 80px 0 40px 0;
}

#contact #google-map {
  height: 300px;
  margin-bottom: 20px;
}

#contact .info {
  color: #333333;
}

#contact .info i {
  font-size: 32px;
  color: #2dc997;
  float: left;
}

#contact .info p {
  padding: 0 0 10px 50px;
  margin-bottom: 20px;
  line-height: 22px;
  font-size: 14px;
}

#contact .info .email p {
  padding-top: 5px;
}

#contact .social-links {
  padding-bottom: 20px;
}

#contact .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#contact .social-links a:hover {
  background: #2dc997;
  color: #fff;
}

#contact .form #sendmessage {
  color: #2dc997;
  border: 1px solid #2dc997;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input, #contact .form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

#contact .form button[type="submit"] {
  background: #2dc997;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

#contact .form button[type="submit"]:hover {
  background: #51d8ad;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #343b40;
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #ccc;
}
